@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ----------- ENCABEZADO  ----------- */

h1{
    color:rgb(49,72,33);
    font-size:3rem;
    padding-bottom: 0px;
    text-shadow: 0px 0px 10px #fff;
}

.subtitulo{
    color:#fff; 
    border-top: solid;
    padding-bottom: 0px;
    text-shadow: 0px 0px 5px rgb(67,75,46);
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: rgb(171,206,122);
  padding-left: 78px;
  text-align: center;
  color: ghostwhite;
  height: 20vh;
}

/* ----------- PIE DE PÁGINA  ----------- */
footer{
  position: fixed;
  top: 92vh;
  width: 100%;
  z-index: 2;
  background-color: rgb(171,206,122);
  padding-left: 78px;
  text-align: center;
  color: ghostwhite;
  height: 8vh;
  color: rgb(67,75,46);
}

/* ----------- AREA DE TRABAJO  ----------- */

.tablero{
    margin-top: 20vh;
    padding-left: 78px;    
    min-width: 100%;
    height: 72vh;  
    background-color: #f8f9fa;
}

.tablero.open  {
    padding-left: 250px;    
}

section{
  padding-left: 50px;
  margin-top: 10px;
  position: absolute;
  width: 80%;
  background-color: #f8f9fa;
  color: rgb(67,75,46);
  height: 69vh;
}

section.open{
  width: 60%;
}

.invisible{
    visibility: hidden;     
}
.visible{
    visibility: visible;     
}

iframe{
  width: 100%;
  height: 100%;
}

/* ----------- MENU DESPLEGABLE  ----------- */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}


/* ----------- FORMATO animado a los placeHolder de los input ----------- */
	
.entrada{
  margin-top: 10px;
	width: 100%;
	height: 50px;
	max-width: 400px;
	position: relative;
	overflow: hidden;
}

.entrada input{
	width: 100%;
	height: 100%;
	background: none;
	color: black; 
	padding-top: 20px;
	border: none;
	outline: 0px;
}

.entrada .etiqueta{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid rgb(49,72,33);
}

  /* linea al tomar el foco */
.entrada .etiqueta:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #448941;
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.campoDeTexto{
	position: absolute;
	bottom: 1px;
	left: 0;
	transition: all 0.3s ease;
	color: rgba(43, 34, 32, 0.767);
}

/* moverse a la parte superior */
.entrada input:focus + .etiqueta .campoDeTexto,.entrada input:valid + .etiqueta .campoDeTexto{
	transform: translateY(-100%);
	font-size: 14px;
	color: rgb(49,72,33); 
}

.entrada input:focus + .etiqueta:after, .entrada input:valid + .etiqueta:after{
	transform: translateX(0%);
}

@media only screen and (min-width:320px) and (max-width:768px){
  .entrada{
    width:85%;
  }
}

.tituloSeccion{
  text-shadow: 1px 1px 3px #e1d7d7;
  
  font-weight: bold;
  font-size: 1.5rem;
}

/* ----------- Formato sesión de Inicio -------------------- */

#presentacion{
  width: 50%;
}

#imgPresentacion{
  height: 300px;

}

#contenidoInicio{
  width: 100%;
  /* border: solid red; */
  display: flex;
}

 /* ------------- formato de los Botones ------------------ */

.boton {
  width: 130px;
  height: 35px;
  /* background: #2364d2; */
  background: rgb(49,72,33);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 5px 20px 0px rgba(35, 210, 108, 0.3);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .boton {
    margin-top: 10px;
  }
}

/*------------- sesión de donaciones -------------------------*/

#listaDonaciones{
  width: 100%;
  height: 50%;
}

#detalleDonacion{
  border: solid green;
}

#textoTotalAportes{
  font-size: 1.5rem;
  font-weight: 800;
}

/*------------- sesión para donar -------------------------*/

#listaDesplegableAnimales{
  width: 100%;
}

#animalesActivos{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.imgAnimal{
  height: 200px;
  max-width: 200px;
  object-fit: contain;
}
.contenedorAnimalNuevo{
  border: solid grey;
  border-radius: 15px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4e9f7;
}